<section class="post-list">
{%- if include.posts.size > 0 -%}
  {% for post in include.posts %}
      {% assign current_year = post.date | date: "%Y" %}
      {% if current_year != year %}
          <h3 class="post-list-heading">{{ current_year }}</h3>
          {% assign year = current_year %}
      {% endif %}
      {% assign current_month = post.date | date: "%b" %}
      {% if current_month != month %}
          <h4 class="post-list-month-heading">{{ current_month }}</h4>
          {% assign month = current_month %}
      {% endif %}

      {%- assign date_format = site.minima.date_format_noyear | default: "%b %-d -%}
      <header>
        <span class="post-meta extrameta">{{ post.date | date: date_format }}</span> ——— <h3 class="post-list-item" style="display: inline !important;"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
      </header>
  {% endfor %}
{%- endif -%}
</section>
